!!! 5
%html{lang: 'en'}
  %head
    %meta{charset: 'utf-8'}
    %title Template
    %link{rel: 'stylesheet', href: 'css/normalize.css'}
    %link{rel: 'stylesheet', href: 'css/style.css'}
  %body
    %h1 Color Boxes
    %a{href:'#'} hello romeo
    %input#colorstring{type:'text',placeholder:'Type Some Colors'}
    %input#colorbutton{type:'button',value:'Color the boxes'}
    %input#clearbutton{type:'button',value:'Clear the color names'}
    #boxes
    %script{src: 'js/jquery-1.10.2.min.js'}
    %script{src: 'js/underscore-min.js'}
    %script{src: 'js/main.js'}


