@base: #ccee66;
@import url(http://fonts.googleapis.com/css?family=Cherry+Swash:700);

body{
  background-color: @base;
  font-family: 'Cherry Swash', cursive;
  width: 100%;
}

#masterHeader{
  padding:10px;
  width: 100%;
  background: pink;
  -webkit-box-shadow: 0 0 20px black;
  -moz-box-shadow: 0 0 20px black;
  box-shadow: 0 0 20px black;
  margin-top: -10px;
  position:fixed;
  top:0;
  // left:0;
  z-index: 2;
  h1{
    float:left;
  }
}

#content{
  margin-top: 150px;
  z-index: 1;
}

h1, h3.subheader{
  font-family: 'Cherry Swash', cursive;
}
.navButton{
  float:left;
  z-index: 3;
  width:130px;
  color: darkblue;
  margin:30px 10px !important;
  -webkit-box-shadow: 0 0 15px #c58 !important;
  -moz-box-shadow: 0 0 15px #c58 !important;
  box-shadow: 0 0 15px #c58 !important;
  &:hover{
    color: blue;
  }
}
.button{

}

.success{
}

#hpButton{
  margin-left: 20px;
  background-color: lightblue;
  &:hover{
    background-color: navy;
  }
}


#songButtons a{
  background-color: yellow !important;
  &:hover{
    background-color: gold !important;
  }
}

#artistButtons a{
  background-color: lightgreen !important;
  &:hover{
    background-color: green !important;
  }
}

#genreButtons a{
  background-color: pink !important;
  &:hover{
    background-color: purple !important;
  }
}

textarea{
  height: 150px;
}