.color{
  float:left;
  border: 2px solid black;
  border-radius: 1em 2em 1em 2em / 3em 4em 3em 4em;
}

#colors{
  // background-color: pink;
  // border: 5px groove red;
  // border-radius: 15px;
  // overflow: auto;
  // width:100%;
}