!!! 5
%html{lang: 'en'}
  %head
    %meta{charset: 'utf-8'}
    %title Template
    %link{rel: 'stylesheet', href: 'css/normalize.css'}
    %link{rel: 'stylesheet', href: 'css/style.css'}
  %body
    %h1 Party Planner & RSVP Application
    %table
      %tr
        %th Name
        %th Food
        %th
          %input#add{type:'button',value:'Add RSVP'}
        %th Delete
        %th Move


    %script{src: 'js/jquery-1.10.2.min.js'}
    %script{src: 'js/underscore-min.js'}
    %script{src: 'js/main.js'}


