.style1 {
  float: left;
  width: 50px;
  height: 50px;
  border: 4px dashed lightgreen;
  margin: 10px;
  background-color: magenta; }

.style2 {
  float: left;
  width: 50px;
  height: 50px;
  border: 4px solid purple;
  margin: 10px;
  background-color: blue; }

.style3 {
  float: left;
  width: 50px;
  height: 50px;
  border: 4px dashed darkgreen;
  margin: 10px;
  background-color: yellow; }

.style4 {
  float: left;
  width: 50px;
  height: 50px;
  border: 4px ridge brown;
  margin: 10px;
  background-color: white; }

.style5 {
  float: left;
  width: 50px;
  height: 50px;
  border: 4px solid blue;
  margin: 10px;
  background-color: red; }
