#masterHeader
  h1 Mix-Master 2K13
  a#hpButton.button.small.radius(href='/') Home Page
  a#slButton.button.small.radius(href='/songs') See the Songs
  a#asButton.button.small.radius(href='/songs/new') Add a Song
