#left
  #map-canvas
#right
  .row
    .small-12.columns
      %input#start.button.success.radius.small.expand{type:'button',value:'START'}
  .row
    .small-12.columns
      %input#stop.button.alert.radius.small.expand{type:'button',value:'STOP'}
  .row
    .small-12.columns
      %input#place{type:'text',placeholder:'Taco Truck'}
  .row
    .small-12.columns
      %input#addPlace.button.radius.small.expand{type:'button',value:'ADD PLACE'}

