form#priority(action='/priorities', method='post')
  fieldset
    legend New Priority
    .row
      mixin field(6, 'name', 'Name')
      mixin field(6, 'color', 'Color', null, '#33ff11')
    .row
      .small-2.small-offset-10.columns
        button.radius.success.tiny.expand(type='submit') Save
