doctype 5
html
  head
    title Cats!!!
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h1 My cat page
    p Welcome to Node
    image(src='http://geonice.com/wp-content/uploads/2013/05/extreme-rock-climbing-pictures-hd-wallpaper.jpg');