doctype 5
html
  head
    title DawgEEE!!!
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h1 My Dawg page
    p Welcome to Node
    image(src='http://temunot.files.wordpress.com/2008/11/4-cute-puppies-wallpaper-640x480.jpg');